{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block body %}
    <h1>Destination</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ destination.id }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ destination.Location }}</td>
            </tr>
            <tr>
                <th>Hôtels</th>
                <td>
                    {% for hotel in destination.hotels %}
                        <span class="badge bg-danger p-2" data-badge-caption="">{{ hotel.name }}</span>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary white" href="{{ path('destination_index') }}">back to list</a>

   {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary white" href="{{ path('destination_edit', {'id': destination.id}) }}">edit</a>
        {{ include('destination/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
